@import 'bootstrap/dist/css/bootstrap.min.css';
.inputBox{
  display: block;
  margin: 10px;
  margin-left: 40%;
  text-align: center;
  padding: 7px;
  width: 960px;
  border: 1px solid skyblue;
  border-radius: 10px;
}
.inputBox-sel{
  display: block;
  margin: 10px;
  margin-left: 40%;
  text-align: center;
  padding: 7px;
  width: 200px;
  border: 1px solid skyblue;
  border-radius: 10px;
}


.register,.product{
  margin-left: 30%;
  margin-top: 100px;
}
.appButton{

  cursor: pointer;
  margin: 20px;
  padding: 9px;
  width: 135px;
  background-color: skyblue;
  border: 1px solid;
  border-radius: 15px;
}
.appButton:hover{
  background-color: black;
  color: white;
}
.nav-right{
  text-align: right ;
  padding-right: 100px;

}
.invalid-input{
  color: red;
  margin-top: -10px;
  display: block;
  margin-left: 20px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.login{
  margin-top: 7%;
  margin-left: 20%;
}
.product{
  margin-top: 7%;
  margin-left: -15%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
